//Colors
$white: #fff;
$orange: #E65C43;
$orangeSecondary: #F25C43;
$lightGray: #F5F6F6;
$darkBlue: #30353D;
$gray: #666;

//Images
$backgroundImage: '../images/bg.gif';
$logoImage: '../images/logo.png';
$socialMediaImage: '../images/social-media.png';

//Web fonts
$roboto: 'Roboto';
$sanSerif: sans-serif;

//Breakpoints
$small: 459px;
$medium: 767px;
$large: 959px;
